* {
    margin: 0;
    padding: 0;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.games {
    width: 1200px;
}

/* games页:
    1 tabs(动作游戏、射击游戏。。。)
    2 logo
    3 searchBar+游戏搜索排行榜（取前20位）
    4 gamesList 游戏列表
*/


/* nav:
    1 tabs(动作游戏、射击游戏。。。)
    2 logo
    3 search bar
*/
.games .nav {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}

.games .nav img {
    float: left;
    width: 110px;
    margin-right: 25px;
}

.games .nav .tabs {
    padding-top: 15px;
}

.games .nav .tabs ul {
    list-style: none;
}

.games .nav .tabs ul li {
    float: left;
    padding: 0 25px;
    margin-bottom: 25px;
    /* 添加左边竖线 */
    border-left: 1px solid #ccc;
}

.games .nav .tabs ul li span {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.games .nav .nav-top {
    
}

.games .nav .nav-top img {
    width: 100px;
}

.games .nav .nav-bottom {
    clear: both;
    height: 50px;
    padding-bottom: 20px;
}

.games .nav .nav-bottom .rank {
    float: left;
    width: 650px;
    height: 50px;
}

.games .nav .nav-bottom .rank span {
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    line-height: 50px;
    margin-left: 25px;
}

.games .nav .nav-bottom .rank ul li p {
    width: 200px;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.games .nav .nav-bottom .rank ul li {
    float: left;
    margin: 3px 40px;
    cursor: pointer;
}

.games .nav .nav-bottom .rank ul li:hover {
    color: #2979ff;
}

.games .nav .nav-bottom .search {
    float: right;
    margin: 0 25px 0 0;
}

/* main:
    4 gamesList 游戏列表
 */
.games .main {
    clear: both;
    width: 1300px;
    margin-top: 20px;
}

.games .main .gamePic {
    float: left;
    width: 250px;
    height: 155px;
}

.games .main img {
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
    object-fit: cover;
}

.games .main ul {
    list-style: none;
}

.games .main ul li {
    float: left;
    height: 155px;
    margin: 0 20px 20px 0;
    border-radius: 0 3px 3px 0;
}

.games .main .content {
    float: left;
    width: 340px;
    height: 155px;
    background-color: #fff;
}

.games .main .content p {
    /* 限制文本行数 */
    overflow: hidden;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: box;
}

.games .main .content .gameName {
    height: 44px;
    margin: 10px;
    font-weight: 700;
    /* 限制两行 */
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.games .main .content .gameDesc {
    height: 50px;
    margin: 0 10px 10px 10px;
    font-size: 12px;
    /* 限制三行 */
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.games .main .content a {
    padding: 5px 20px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}

.games .main .content a:hover {
    background-color: #2979ff;
}