* {
    margin: 0;
    padding: 0;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.home {
    width: 1200px;
}

/* 导航区域：
    1 logo
    2 tab栏（加入俱乐部、关于小助手）
    3 搜索栏
 */
.home .nav {
    height: 100px;
}

.nav img {
    float: left;
    width: 100px;
}

.nav .tab {
    float: left;
}

.nav .tab ul {
    list-style: none;
}

.nav .tab ul li {
    float: left;
    margin-left: 40px;
}

.nav .tab ul li a {
    line-height: 100px;
    text-decoration: none;
    color: #333;
}

.nav .tab ul li a:hover {
    color: #2979ff;
}

.nav .search {
    float: left;
    margin-left: 80px;
    margin-top: 25px;
}

.nav .search input {
    width: 390px;
    height: 48px;
    padding-left: 10px;
    color: 	#909399;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    border-right: 0;
}

.nav .search input:hover {
    border: 1px solid #2979ff;
    border-right: 0;
}

.nav .search button {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #2979ff;
    border: none;
}

/* 主体区域自动适应高度：
    1 tabs（动作游戏、射击游戏。。。）
    2 轮播图
    3 卡片流布局（游戏推荐、热门文章、关于小助手、加入俱乐部）
 */
.home .main {
    margin-top: 20px;
}

.home .main .hd {
    background-color: pink;
}

.home .main .hd .screening {
    float: left;
    width: 200px;
    height: 500px;
    background-color: olive;
}

.home .main .hd .carousel {
    float: left;
    width: 1000px;
    height: 500px;
    background-color: purple;
}
