* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.home {
    width: 1200px;
}

/* 导航区域：
    1 logo
    2 tab栏（加入俱乐部、关于小助手）
    3 搜索栏
 */
.home .nav {
    height: 100px;
    background-color: #fff;
    /* border-radius设置顺序为：左上、右上、右下、左下、 */
    border-radius: 0 0 3px 3px;
}

.nav img {
    float: left;
    width: 100px;
}

.nav .search {
    float: right;
    margin: 25px 35px 0 0;
}

.nav .tab {
    float: left;
    margin-left: 40px;
}

.nav .tab ul {
    list-style: none;
}

.nav .tab ul li {
    float: left;
    margin: 0 20px;
}

.nav .tab ul li a {
    line-height: 100px;
    text-decoration: none;
    color: #333;
}

.nav .tab ul li a:hover {
    color: #2979ff;
    border-bottom: 2px solid #2979ff;
}

/* 主体区域自动适应高度：
    1 tabs（动作游戏、射击游戏。。。）
    2 轮播图
    3 卡片流布局（游戏推荐、热门文章、关于小助手、加入俱乐部）
 */
.home .main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

/* 1+2 hd */
.home .main .hd {
    width: 1300px;
    padding-bottom: 20px;
}

.home .main .hd .screening {
    position: relative;
    float: left;
    width: 305px;
    height: 450px;
    border-radius: 3px 0 0 3px;
    text-shadow: 2px 2px 2px #333;
}

.home .main .hd .screening .screening-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
}

.home .main .hd .screening ul {
    float: left;
    list-style: none;
    padding: 13px;
}

.home .main .hd .screening ul li {
    padding: 4px;
    margin-top: 14px;
    border-radius: 3px;
    border: 1px dotted #fff;
}

.home .main .hd .screening ul li:hover {
    background-color: #2979ff;
}

.home .main .hd .screening ul li a {
    color: #fff;
    text-decoration: none;
}

.home .main .hd .carousel {
    float: left;
    width: 895px;
    height: 450px;
    border-radius: 0 3px 3px 0;
}

/* 3 bd */
.home .main .bd {
    /* 清除浮动 */
    clear: both;
}

.home .main .bd .section {
    height: 40px;
}

.home .main .bd .section a {
    color: #333;
    text-decoration: none;
}

.home .main .bd .section .text {
    float: left;
    line-height: 40px;
    font-weight: 700;
    font-size: 20px;
}

.home .main .bd .section .more {
    float: right;
    line-height: 40px;
    font-size: 14px;
}

/* .home .main .bd .list {
    
} */

.home .main .bd .list .game {
    height: 360px;
}

.home .main .bd .list .game a {
    text-decoration: none;
}

.home .main .bd .list .article {
    height: 275px;
}

.home .main .bd .list .article a {
    text-decoration: none;
}

.home .main .bd .list ul {
    /* ul设置大些的宽度，便于li标签使用 float: left; 布局 */
    width: 1300px;
    list-style: none;
}

.home .main .bd .list ul li {
    float: left;
    width: 285px;
    margin: 0 20px 20px 0;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}

.home .main .bd .list ul li img {
    width: 100%;
    height: 175px;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
    background: url('../../static/placeholder.png') no-repeat center;
    background-size: 285px;
}

.home .main .bd .list ul li:hover {
    transform: translateY(-5px);
    transition: all 0.1s;
}

.home .main .bd .list ul li span {
    display: block;
    text-align: center;
    /* 限制文本行数 */
    overflow: hidden;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: box;
}

.home .main .bd .list .title {
    margin: 20px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.home .main .bd .list .description {
    margin: 20px;
    color: #666;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

/* aj: about+join
    关于、加入
 */
.home .main .bd .aj {
    clear: both;
}

.home .main .bd .aj .about {
    float: left;
    width: 285px;
    height: 437px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 3px;
}

.home .main .bd .aj img {
    width: 100%;
    border-radius: 3px;
}

.home .main .bd .aj .about span {
    display: block;
    margin: 20px;
}

.home .main .bd .aj .other {
    float: right;
    width: 895px;
    height: 437px;
    border-radius: 3px;
}

.home .main .bd .aj .other .other-right {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

.home .main .bd .aj .other .other-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.home .main .bd .aj .other .other-right p {
    font-style: italic;
    color: #fff;
    padding: 25px 0;
    text-shadow: 2px 2px 2px #333;
}

.home .main .bd .aj .other .other-right .other-right-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .3);
}