.bottomLine {
    clear: both;
    padding: 300px 0 20px 0;
}

.bottomLine p {
    font-size: 12px;
    color: #bbb;
    text-align: center;
}

.bottomLine .bl {
    font-size: 10px;
    color: #bbb;
    margin-top: 10px;
}