.search {
    float: right;
    margin-right: 35px;
    margin-top: 25px;
}

.search input {
    width: 390px;
    height: 48px;
    padding-left: 10px;
    color: #909399;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius:3px 0 0 3px;
}

.search input:hover {
    border: 1px solid #2979ff;
    border-right: 0;
}

.search button {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #2979ff;
    border: none;
    border-radius: 0 3px 3px 0;
}