* {
    margin: 0;
    padding: 0;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.gamesDetail {
    width: 1200px;
}

.gamesDetail .main {
    margin-bottom: 20px;
}

/* 详情页面分以下部分
    1 游戏标题
    2 下载地址
    3 游戏简介
    4 系统需求
    5 游戏截图
 */

 /* 游戏标题 */
.gamesDetail .title {
    background-color: pink;
}

.gamesDetail .title p {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.gamesDetail .title .updateTime {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-top: 20px;
}

/* 游戏简介 */
.gamesDetail .description {
    margin-top: 20px;
    background-color: pink;
}

.gamesDetail .description p {
    font-size: 16px;
    color: #333;
}

/* 游戏截图 */
.gamesDetail .screenshots {
    margin-top: 20px;
    background-color: pink;
}

.gamesDetail .screenshots img {
    /* 宽高自适应 */
    height: 100%;
}

/* 系统需求 */
.gamesDetail .requirements {
    margin-top: 20px;
    background-color: pink;
}

.gamesDetail .requirements p {
    font-size: 16px;
    color: #333;
}

/* 资源地址 */
.gamesDetail .source {
    margin-top: 20px;
    background-color: pink;
}


