* {
    margin: 0;
    padding: 0;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.gamesDetail {
    width: 1200px;
}

/* Nav区域：
    1 logo
    2 readCount内容阅读次数（Bmob后台有相关统计数据）
*/
.gamesDetail p {
    padding: 0 20px;
    /* 
    white-space的值：

    normal
    连续的空白符会被合并，换行符会被当作空白符来处理。填充line盒子时，必要的话会换行。

    nowrap
    和 normal 一样，连续的空白符会被合并。但文本内的换行无效。

    pre
    连续的空白符会被保留。在遇到换行符或者<br>元素时才会换行。

    pre-wrap
    连续的空白符会被保留。在遇到换行符或者<br>元素，或者需要为了填充line盒子时才会换行。

    pre-line
    连续的空白符会被合并。在遇到换行符或者<br>元素，或者需要为了填充line盒子时会换行。
     */
    white-space: pre-wrap;
}

.gamesDetail .nav {
    height: 100px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
}

.gamesDetail .nav img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.gamesDetail .nav p {
    line-height: 100px;
    color: #333;
    text-align: center;
}

.gamesDetail .main {
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 3px;
    background-color: #fff;
}

/* 详情页面分以下部分
    1 游戏标题
    2 下载地址
    3 游戏简介
    4 系统需求
    5 游戏截图
 */

/* 游戏标题 */
.gamesDetail .title {
    background-color: #fff;
}

.gamesDetail .title p {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.gamesDetail .title .updateTime {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-top: 20px;
}

/* 游戏简介 */
.gamesDetail .description {
    margin-top: 20px;
    background-color: #fff;
}

.gamesDetail .description p {
    font-size: 16px;
    color: #333;
}

/* 游戏截图 */
.gamesDetail .screenshots {
    margin: 20px;
    background-color: #fff;
    text-align: center;
}

.gamesDetail .screenshots img {
    /* 宽高自适应 */
    width: 100%;
}

/* 系统需求 */
.gamesDetail .requirements {
    margin-top: 20px;
    background-color: #fff;
}

.gamesDetail .requirements p {
    font-size: 16px;
    color: #333;
}

/* 资源地址 */
.gamesDetail .source {
    margin-top: 20px;
    background-color: #fff;
}