* {
    margin: 0;
    padding: 0;
}

/* 垂直居中 */
.w {
    margin: 0 auto;
}

/* 背景区域定宽 */
.gamesDetail {
    width: 1200px;
}

/* 详情页面分以下部分
    1 游戏标题
    2 下载地址
    3 游戏简介
    4 系统需求
 */
.gamesDetail .title {
    height: 200px;
    background-color: pink;
}

.gamesDetail .source {
    height: 200px;
    margin-top: 20px;
    background-color: pink;
}

.gamesDetail .description {
    height: 200px;
    margin-top: 20px;
    background-color: pink;
}

.gamesDetail .requirements {
    height: 200px;
    margin-top: 20px;
    background-color: pink;
}