.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel .ul {
    height: 100%;
    list-style: none;
}

.ul li.show {
    display: block;
}

.ul li {
    display: none;
    text-align: center;
}

.ul li img {
    /* 宽度撑满，高度自适应，避免图片拉伸变形 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.carousel-control .left {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 5px;
    transform: translateY(-50%);
    font-weight: 700;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.carousel-control .left:hover {
    background-color: #2979ff;
}

.carousel-control .right {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translateY(-50%);
    font-weight: 700;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.carousel-control .right:hover {
    background-color: #2979ff;
}

.carousel-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 10px;
    transform: translateX(-50%);
}

.carousel-dots li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    transition: all .3s;
    background-color: antiquewhite;
    list-style: none;
}

.carousel-dots li.active {
    background-color: #2979ff;
}

